* {
    margin:0; padding:0;
  }

  /*******header*******/
  header {
    width: 100%;
    padding: 15px 0;
    margin: 0 auto;
    text-align: left;
    background-color: #d85b45;
  }
  header .headline{
    font-size: 32px;
  }
  .nav-list {
    text-align: right;
    padding: 10px 0;
    margin: 0 auto;
  }
  .nav-list-item {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
  }

  #container {
    display: grid; /* グリッドレイアウト */
    grid-template-rows: 338px 338px;
    grid-template-columns: 392px 752px 392px;
}

#client-info{
    grid-row: 1;
    grid-column: 1;
    background: #f88;
}

#product-list{
    grid-row: 2;
    grid-column: 1;
    background: #8f8;
}

#talklog{
    grid-row: 1/3;
    grid-column: 2;
    background: #ff0;
}

#talklog div{
    font-size: large;
}

/*
#wrepper {
  height: 100px;
  width: 752px;
  overflow-y: scroll;
}

#content{
  background-color: aliceblue;
}
*/
.scrollarea {
	/* こいつが重要 */
	overflow:scroll;
	height:250px;
	line-height:2.5;
	padding:10px 0;
}
 .scrollarea ul {
    list-style: none;
}

.scrollarea::-webkit-scrollbar {
    width: 7px;
}
  
.scrollarea::-webkit-scrollbar-thumb { 
    background: linear-gradient(0deg,#43e2c6,#3183d0);
    border-radius: 3px;
}

.scrollarea::-webkit-scrollbar-track {  
    background: rgba(100,100,100, .5);
}

#client-list{
    grid-row: 1;
    grid-column: 3;
    background: #009;
}

#salesgrade{
    grid-row: 2;
    grid-column: 3;
    background: #a09;

}

.btn-square-little-rich {
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #03A9F4;/*色*/
    border: solid 1px #0f9ada;/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    /*add*/
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 30px;
  }
  
  .btn-square-little-rich:active {
    /*押したとき*/
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
  }